
#bartext {
    margin-top: -160px;
    margin-right: 34px;
    font-size: 24px;
    text-align: right;

}
#pil {
    width: 10px;
    height: 10px;
    margin: 0px;

}

#logobar {
    margin-left: -10px;
    width: 1283px ;
    height: 170px ;


}
#logotranan {
    margin-top: -10px;
    width: 10px;



}
#highbar {
    margin-right: 280px;
    margin-top: -200px;
    float: right;
    height: 0px;
    width: 20px;
    background-color: red;


}
#sidebar {
    margin-top: 70px;
    margin-left: 3px;
    height: 555px;
    width: 168px;
    background-color: lightgray;
    box-shadow: 10px 10px 5px #888888;


}
#Hitta {
    font-size: 20px;
    background-color: red;

}

#omoss {
    font-size: 20px;
    background-color: red;


}
#öppettider {
    font-size: 20px;
    background-color: red;

}
#menu {
    font-size: 20px;
    background-color: red;
}
#galleri {
    font-size: 20px;
    background-color: red;
}
#midbar {
    margin-left: 200px;
    margin-top: -200px;
    float: left;
    height: 205px;
    width: 20px;
    background-color: red;


}
#bartext2 {
    margin-left: 340px;
    margin-top: -805px;
    float: left;
    font-style: italic;
    font-size: 70px;
    color: #fa35ff;
    text-shadow: 2px 2px #808080;


}
#lowbar {
    height: 30px ;
    width: 220px ;
    margin-top: -5px;
    background-color: red   ;

}
#pil {
    width: 65px;
    height: 65px;
    float: right;
    margin-top: -70px;
    margin-right: 100px;


}
#kalender {
    float: right;
    width: 200px;
    height: 200px;
    margin-right: 34px;

}
#Main {
    margin-top: -206px;
    margin-left: 200px;
    width: 750px;
    height: 750px;
    background-color: lightgray;
    box-shadow: 10px 10px 5px #888888;



}
#Galleri {


}
#Galtext {
    margin-left: 250px;
    font-size: 45px;
    background-color: lightgray;
}
#rest1 {
     height: 400px;
     width: 750px;

}
#rest2 {
    height: 400px;
    width: 750px;

}
#rest3 {
    height: 400px;
    width: 750px;

}

